<div class="row" >
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">

        </div>
        <div class="tools">
          <a class="btn borderBtn" ng-click="downloadFiles();" target="_blank">打包下载</a>
        </div>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-condensed">
            <tr>
              <th class="text-center" width="10%">
                <input type="checkbox" name="fileAllSelected" ng-model="fileAllSelected" ng-change="selectAllChange();" >
              </th>
              <th class="text-center" width="35%">
                文件名
              </th>
              <th class="text-center">
                文件类型
              </th>
              <th class="text-center" width="15%">
                文件大小
              </th>
              <th class="text-center" width="10%">
                删除
              </th>
            </tr>
            <tr ng-repeat="file in documentFileList track by $index">
              <td class="text-center">
                <input type="checkbox" name="fileSelected" ng-model="file.selected">
              </td>
              <td class="text-center">
                <a class="blueA" ng-href="/api/accessories/download?documentId={{file.documentId}}&filename={{file.retrievalName}}" target="_blank">
                  {{file.retrievalName}}
                </a>
              </td>
              <td class="text-center">
                {{file.contentType}}
              </td>
              <td class="text-center">
                {{ (file.contentSize / 1024).toFixed(2) + 'KB' }}
              </td>
              <td class="text-center">
                <a ng-click="removeFile(file.documentId, file.retrievalName);">删除</a>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
